.scrollToTopBtn {

  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}

.scrollToTopBtn:hover {
  background-color: var(--accent);
  transform: scale(1.1);

}

.FooterContainer {

  background-color: var(--nav-bg);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.25);
}
