*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --text-color: #e5e7eb;
  --sub-text: #cbd5f5;
  --accent: #22c55e;
  --nav-bg: #333;
}
[data-theme="light"] {
  /* Backgrounds */
  --bg-color: linear-gradient(
    135deg,
    #ffffff 0%,
    #dce2e7 50%,
    #3a7dd5 100%
  );

  --nav-bg: rgba(193, 218, 234, 0.85);

  /* Surfaces */
  --card-bg: rgba(221, 231, 236, 0.9);

  /* Text */
  --text-color: #0f172a;
  --sub-text: #475569;

  /* Accent (softer blue) */
  --accent: #37abce;
}


body {
  background: var(--bg-color);
  /* background-attachment: fixed; */
  color: var(--text-color);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.3s ease, color 0.3s eas
}



